@{
    ViewBag.Title = "Home Page";
}

<!-- Hero Slider Area -->
<div class="heroslider-area in-sliderarrow">

    <!-- Hero Slider Single -->
    <div class="heroslider animated-heroslider d-flex align-items-center"
         data-bgimage="../Content/assets/images/bg/dealdadistockphoto1.jpg" data-secondary-overlay="8">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-9 col-lg-8">
                    <div class="heroslider-content">
                        <h1>Connect Invest Thrive</h1>
                        <p class="list-inline-item">
                            Building wealth through real estate investment has never
                            been easier
                        </p>
                        <!-- <ul class="list-inline">
                                <li class="list-inline-item">Build future wealth</li>
                                <li class="list-inline-item">Begin today</liclass="list-inline-item">
                                <li class="list-inline-item">Never been easier</liclass="list-inline-item">
                              </ul>
                         -->

                        <div class="heroslider-buttonholder">
                            <a href="about-us.html" class="in-button in-button-theme">About Us</a>
                            <a href="contact.html" class="in-button in-button-colorwhite">Contact Us</a>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-3">
                    <div class="heroslider-roundbox roundbox">
                        <div class="roundbox-block">
                            <span class="roundbox-icon">
                                <i class="flaticon-mind"></i>
                            </span>
                            <h5>Find It</h5>
                        </div>
                        <div class="roundbox-block">
                            <span class="roundbox-icon">
                                <i class="flaticon-life-insurence"></i>
                            </span>
                            <h5>Flip it</h5>
                        </div>
                        <div class="roundbox-block">
                            <span class="roundbox-icon">
                                <i class="flaticon-planning"></i>
                            </span>
                            <h5>Figure It</h5>
                        </div>
                        <div class="roundbox-block">
                            <span class="roundbox-icon">
                                <i class="flaticon-businessman"></i>
                            </span>
                            <h5>Fund It</h5>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!--// Hero Slider Single -->
    <!-- Hero Slider Single -->
    <div class="heroslider animated-heroslider d-flex align-items-center"
         data-bgimage="../Content/assets/images/bg/dealdadistockphoto4.jpg" data-secondary-overlay="8">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="heroslider-content text-center">
                        <h1>Connect Invest Thrive</h1>
                        <p>
                            Build future wealth
                            Begin today
                            Never been easier
                        </p>
                        <div class="heroslider-buttonholder">
                            <a href="about-us.html" class="in-button in-button-theme">About Us</a>
                            <a href="#" class="in-button in-button-colorwhite">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Hero Slider Single -->
    <!-- Hero Slider Single -->
    <div class="heroslider animated-heroslider d-flex align-items-center"
         data-bgimage="../Content/assets/images/bg/dealdadistockphoto3.jpg" data-secondary-overlay="8">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="heroslider-content">
                        <h1>Connect Invest Thrive</h1>
                        <p>
                            Build future wealth
                            Begin today
                            Never been easier
                        </p>
                        <div class="heroslider-buttonholder">
                            <a href="about-us.html" class="in-button in-button-theme">About Us</a>
                            <a href="#" class="in-button in-button-colorwhite">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Hero Slider Single -->

</div>
<!--// Hero Slider Area -->
<!-- Page Conttent -->
<main class="page-content">

    <!-- Features Area -->
    <div class="features-area in-section section-padding-md bg-white">
        <div class="container">
            <div class="row features-wrapper">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="in-feature">
                        <span class="in-feature-icon">
                            <i class="flaticon-partner"></i>
                        </span>
                        <h4>Connect</h4>
                        <p>
                            Find off market deals, services, and professionals that make real estate investment
                            consistent, seamless, and profitable no matter your level of experience.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="in-feature">
                        <span class="in-feature-icon">
                            <i class="flaticon-lock"></i>
                        </span>
                        <h4>Invest</h4>
                        <p>
                            Need funding? We can help. Find qualified lenders in your area who will work with you
                            to analyze and fund deals based on proven industry methods.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="in-feature">
                        <span class="in-feature-icon">
                            <i class="flaticon-lab"></i>
                        </span>
                        <h4>Thrive</h4>
                        <p>
                            Use your profits to reinvest, expand your real estate holdings, or to simply increase
                            your overall financial portfolio with the goal of achieving financial flexibility
                            and freedom.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Features Area -->

</main>
<!--// Page Conttent -->